<div class="row track-row {{ cycle(['bg-col3','bg-col3'],loop.index) }} mouseover" id="track{{ loop.index }}">
	<div class="col-md-2 no-padding-right">
		<a href="/library/album/{{ item.albumId }}" data-ajaxtarget="#main" class="ajax-link toggle-tooltip" title="show album">
			<img src="/image-100/album/{{ item.albumId }}" alt="" style="width: 50px; height: 50px; z-index:2;">
		</a>
		<button role="control" data-href="/mpdctrl/playIndex/{{ mpdidx }}" title="play" class="btn btn-default ajax-btn is-playbtn" data-localplayer='{"action":"play","item":{{ item.id }},"ext":"{{item.audioDataformat }}"}'>
			<i class="fa fa-play"></i>
		</button>
		<button role="control" data-href="/markup/widget-trackcontrol?item={{ item.id }}" title="play" class="btn btn-default trigger-modal">
			<i class="fa fa-align-justify"></i>
		</button>
		<button role="control" data-href="/mpdctrl/deleteIndex/{{ mpdidx }}" title="remove from playlist" class="btn btn-default ajax-btn" data-localplayer='{"action":"remove","item":{{ item.id }}}'>
			<i class="fa fa-trash"></i>
		</button>
	</div>
	
	<div class="col-md-3">
		{% include 'partials/tracktitle.twig' with { 'titlestring': item.title, 'filepath': item.relativePath  } %}
		<br />
		<div class="darker-links">{% include 'partials/albumlink.twig' with { 'item': renderitems.albums[item.albumId] } %}</div>
	</div>
	<div class="col-md-3">
		{% include 'partials/artist/link.twig' %}
	</div>
	<div class="col-md-2">
		{% include 'partials/genrelink.twig' with { 'genreIds': item.genreId, 'genres': renderitems.genres } %}
	</div>
	<div class="col-md-1">{% include 'partials/yearlink.twig' %}</div>
	<div class="col-md-1">{{ item.miliseconds|formatMiliseconds }}</div>
</div>