<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-3">{{'title'|ll}} &amp; {{'album'|ll}}</div>
	<div class="col-md-3">{{'artist'|ll}}</div>
	<div class="col-md-2">{{'genre'|ll}}</div>
	<div class="col-md-1">{{'year'|ll}}</div>
	<div class="col-md-1">{{'duration'|ll}}</div>
	<div class="col-md-1"></div>
</div>
<hr />