<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-3"><span class="dark uc small">{{'title'|ll}} &amp; {{'album'|ll}}</span></div>
	<div class="col-md-3"><span class="dark uc small">{{'artist'|ll}}</span></div>
	<div class="col-md-2"><span class="dark uc small">{{'genre'|ll}}</span></div>
	<div class="col-md-1"><span class="dark uc small">{{'year'|ll}}</span></div>
	<div class="col-md-1"><span class="dark uc small">{{'duration'|ll}}</span></div>
	<div class="col-md-1"></div>
</div>
<hr />