
    <div class="col-sm-12 col-md-5">
    	<div class="mpd-status-progressbar">
    	
    	</div>
    	{# TODO: create preloader for waveformimage as it can take very long for large files #}
    	{% if not item.id %}
    		<object class="waveform" style="width: 100%; height: 50px;" data="#" type="image/svg+xml">
    	{% else %}
    		<object class="waveform" style="width: 100%; height: 50px;" data="/audiosvg/width/550/{{ item.id }}" type="image/svg+xml">
    	{% endif %}
    	
    	</object>
    	<div class="mpd-status-timestring" style="text-align: center;">
    		<span class="mpd-status-elapsed">0:00</span>&nbsp; | &nbsp;
    		<span class="mpd-status-total">0:00</span>
    	</div>
    	
    	<div class="mpd-ctrl-seekbar">
    	
    	</div>
    	
	</div>
    <div class="hidden-xs col-md-1">
    	<div class="row">
			<div class="col-sm-4">
				<a href="/mpdctrl/previous" class="ajax-link">
					<i class="fa fa-chevron-left sign-ctrl"></i>
				</a>
			</div>
			<div class="col-sm-4">
				<a href="/mpdctrl/pause" class="ajax-link" style="font-size: 1.5em;">
					<i class="fa fa-pause sign-ctrl mpd-status-playpause"></i>
				</a>
			</div>
			<div class="col-sm-4">
				<a href="/mpdctrl/next" class="ajax-link">
					<i class="fa fa-chevron-right sign-ctrl"></i>
				</a>
			</div>
		</div>
		<div class="row">
			
			
			<div class="col-sm-4 mpd-status-random">
				<a href="/mpdctrl/toggleRandom" class="ajax-link" title="toggle random">
					<i class="fa fa-random sign-ctrl"></i>
				</a>
			</div>
			<div class="col-sm-4 mpd-status-repeat">
				<a href="/mpdctrl/toggleRepeat" class="ajax-link" title="toggle repeat">
					<i class="fa fa-repeat sign-ctrl"></i>
				</a>
			</div>
			<div class="col-sm-4 mpd-status-consume">
				<a href="/mpdctrl/toggleConsume" class="ajax-link" title="toggle consume">
					<i class="fa fa-fire sign-ctrl"></i>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 small">
				<a href="/playlist">Warteschlange</a>
			</div>
    	</div>
    
    
    </div>
    <div class="col-sm-7 col-md-1">
    	<a href="/library/album/{{ item.albumId }}">
    		<img src="/image-100/album/{{ item.albumId }}" />
    	</a>
    </div>
    <div class="col-sm-5">
    	<div class="row">
			<div class="col-sm-4"><span class="shorten">{% include 'partials/artist/link.twig' %}</span></div>
			<div class="col-sm-4"><span class="shorten">{% include 'partials/albumlink.twig' with { 'item': renderitems.albums[item.albumId] } %}</span></div>
			<div class="col-sm-4"><span class="shorten">{% include 'partials/yearlink.twig' %}</span></div>
		</div>
		<div class="row">
			<div class="col-sm-4"><span class="shorten">{% include 'partials/tracktitle.twig' with { 'titlestring': item.title } %}</span></div>
			<div class="col-sm-4"><span class="shorten">{% include 'partials/labellink.twig' with { 'labelIds': item.labelId } %}</span></div>
			<div class="col-sm-4"><span class="shorten">{% include 'partials/genrelink.twig' with { 'genreIds': item.genreId } %}</span></div>
		</div>
		<div class="row">
			<div class="col-sm-12 small">
				{# TODO: remove external liking as soon we have implemented a proper functionality #}
				<a class="ajax-link" href="{{ temp_likerurl }}" title="temp ixwax +1">+1</a>
				</div>
    	</div>
    </div>
    
    
    <div class="now-playing-string" style="display: none;">{% include 'partials/tracktitle.twig' with { 'titlestring': item.title } %} by {% include 'partials/artist/string.twig' %}</div>
    {# TODO: find another way to highlight each occurance of now-playing-track (preferable without javascript) #}
    {# TODO: apply same solution for playing tracks does not exist in app-mysql-db  #}
    <style type="text/css" media="all">
    .track-id-{{ item.id }}:after {
    	content: ' ';
    	width: 40px;
    	height: 50px;
    	display: block;
    	position: absolute;
    	top: 0px;
    	left: 50px;
    	background: url({{ config.absRefPrefix }}skin/default/img/playing.gif);
    	background-size: 40px 50px;
    }
    </style>
