<div class="row">&nbsp;</div>
<div class="row">
	<div class="col-md-2">
		<button role="control" data-href="/mpdctrl/clearPlaylistNotCurrent" title="clear playlist (but keep current track)" class="btn btn-default ajax-btn toggle-tooltip" data-localplayer='{"action":"clearPlaylistNotCurrent"}'>
			<i class="fa fa-trash"></i> Clear Playlist <span class="uc" style="font-size:0.7em;">({{ currentplaylist|length }} tracks)</span>
		</button>	
	</div>
	<div class="col-md-3"><span class="dark uc small">{{'title'|ll}} &amp; {{'album'|ll}}</span></div>
	<div class="col-md-3"><span class="dark uc small">{{'artist'|ll}}</span></div>
	<div class="col-md-2"><span class="dark uc small">{{'genre'|ll}}</span></div>
	<div class="col-md-1"><span class="dark uc small">{{'year'|ll}}</span></div>
	<div class="col-md-1"><span class="dark uc small">{{'duration'|ll}}</span></div>
</div>
<hr />


{% set totalTime = 0 %}
{% for mpdidx,item in currentplaylist %}
{% set totalTime = totalTime+item.miliseconds %}
{% include 'partials/trackrow-currentplaylist.twig' %}
{% endfor %}
<div class="row">
	<div class="col-md-9"></div>
	<div class="col-md-1">total time</div>
	<div class="col-md-1">{{ totalTime|formatMiliseconds }}</div>
	<div class="col-md-1"></div>
</div>

