{% set startnum = paginator_params.currentPage*paginator_params.itemsPerPage+1-paginator_params.itemsPerPage %}

{% if paginator_params.currentPage == paginator_params.numPages %}
	{% set endnum = paginator_params.totalItems %}
{% else %}
	{% set endnum = paginator_params.currentPage*paginator_params.itemsPerPage %}
{% endif %}
{{ dump(paginator_params)}}
<h2>Searchresults &quot;{{ search.all.term }}&quot;<span style="margin-left: 1em; font-size: 0.4em; color:#888;">
{{ startnum }} - {{ endnum }} of {{ searchcurrent.total }} results in {{ searchcurrent.time }}s</span></h2>

<a href="/searchall/page/1?q={{ search.all.term }}">All ({{ search.all.total }})</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="/searchtrack/page/1?q={{ search.all.term }}">Tracks ({{ search.track.total }})</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="/searchartist/page/1?q={{ search.all.term }}">Artists ({{ search.artist.total }})</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="/searchalbum/page/1?q={{ search.all.term }}">Albums ({{ search.album.total }})</a><br />
