  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle sign"></i></span></button>
    
    <h3>
    <div class="small dark uc" style="font-size: 0.4em; line-height: 2em;">{{'artist'|ll}} - {{'title'|ll}}</div>
    	{% include 'partials/artist/link.twig' %}
    	- 
    	{% include 'partials/tracktitle.twig' with { 'titlestring': item.title } %}
    </h3>
     
	<div class="row">
	  	<div class="col-md-10">
	
	    	{# TODO: create preloader for waveformimage as it can take very long for large files #}
	    	{% if not item.id %}
	    		{% if not item.relativePath %}
	    		<object class="waveform" style="width: 100%; height: 100px;" data="/skin/default/img/notrack.svg" type="image/svg+xml"></object>
	    		{% else %}
	    		<object class="waveform" style="width: 100%; height: 100px;" data="/audiosvg/width/5000/{{ item.relativePath }}?color=3" type="image/svg+xml"></object>
	    		{% endif %}
	    	{% else %}
	    		<object class="waveform" style="width: 100%; height: 100px;" data="/audiosvg/width/5000/{{ item.id }}?color=3" type="image/svg+xml">
	    	{% endif %}
	    	
	    	</object>
		</div>
		
		<div class="col-md-2">
	    	<img src="/image-100/album/{{ item.albumId }}" />
	    </div>
	</div>
	<div class="row">
	
	    <div class="col-md-2">
	    	<span class="dark uc small">{{'duration'|ll}}</span><br />
	    	<strong>{{ item.miliseconds|formatMiliseconds }}</strong>
	    </div>
	    <div class="col-md-2 border-left">
	    	<span class="dark uc small">{{'year'|ll}}</span><br />
	    	<strong>{% include 'partials/yearlink.twig' %}</strong>
	    </div>
	    <div class="col-md-2 border-left">
	    	<span class="dark uc small">{{'genre'|ll}}</span><br />
	    	<strong>{% include 'partials/genrelink.twig' with { 'genreIds': item.genreId } %}</strong>
	    </div>
	    <div class="col-md-2 border-left">
	    	<span class="dark uc small">{{'label'|ll}}</span><br />
	    	<strong>{% include 'partials/labellink.twig' with { 'labelIds': item.labelId } %}</strong>
	    </div>
	    <div class="col-md-4 border-left">
	    	<span class="dark uc small">{{'album'|ll}}</span><br />
	    	<strong>{% include 'partials/albumlink.twig' with { 'item': renderitems.albums[item.albumId] } %}</strong>
	    </div>

  	</div>
  	
    

  
	{% set dirs = item.relativePath|split('/') %}
	{% set fullpath = '' %}
	{% for dir in dirs %}
		{% if loop.last == false %}
			{% set fullpath = fullpath~'/'~dir %}
		{% endif %}
	{% endfor%}
	
  
 
  	<br /><br /><br />
  	
  	
  	
  	
	  <div class="row">
	  	<div class="col-md-3">
	  		<div class="col-md-12">
	  			<h3>Abspielen</h3>
	  		</div>
	  		<div class="col-md-12">
		  		<button role="control" data-href="/mpdctrl/addSelect/{{ item.id }}" title="play" class="btn btn-default ajax-btn is-playbtn" data-localplayer='{"action":"play","item":{{ item.id }},"ext":"{{item.audioDataformat }}","hash":"{{ item.relativePathHash }}"}'>
					<i class="fa fa-play"></i> Sofort abspielen
				</button>
			</div>
			
			<div class="col-md-12">
		  		<button role="control" data-href="#" {{'niymarkup'|ll|raw}} class="btn btn-default" data-localplayer='{"action":"playnext","item":{{ item.id }},"ext":"{{item.audioDataformat }}"}'>
					<i class="fa fa-play"></i> Als nächstes abspielen
				</button>
			</div>
			
			<div class="col-md-12">
		  		<button role="control" data-href="#" {{'niymarkup'|ll|raw}} class="btn btn-default" data-localplayer='{"action":"playnext","item":{{ item.id }},"ext":"{{item.audioDataformat }}"}'>
					<i class="fa fa-plus"></i> Zur Playlist hinzufügen
				</button>
			</div>
	  		<div class="col-md-12">
		  		<button role="control" data-href="#" class="btn btn-default playerModeToggleTrigger">
					<i class="fa fa-exchange"></i> Playermodus wechseln
				</button>
			</div>
	  	</div>
	  	<div class="col-md-3">
	  		<div class="col-md-12">
	  			<h3>Bewerten</h3>
	  		</div>
	  		<div class="col-md-12">
		  		<button role="control" data-href="#" {{'niymarkup'|ll|raw}} class="btn btn-default">
					<i class="fa fa-star"></i> Toll
				</button>
			</div>
			<div class="col-md-12">
		  		<button role="control" data-href="#" {{'niymarkup'|ll|raw}} class="btn btn-default">
					<i class="fa fa-star-half-empty"></i> Uninteressant
				</button>
			</div>
			<div class="col-md-12">
		  		<button role="control" data-href="#" {{'niymarkup'|ll|raw}} class="btn btn-default">
					<i class="fa fa-eraser"></i> Furchtbar
				</button>
			</div>
	  	</div>
	  	<div class="col-md-3">
	  		<div class="col-md-12">
	  			<h3>Auflegen</h3>
	  		</div>
	  		<div class="col-md-12">
		  		<button role="control" data-href="#" {{'niymarkup'|ll|raw}} class="btn btn-default">
					<i class="fa fa-headphones"></i> Deck 1
				</button>
			</div>
			<div class="col-md-12">
		  		<button role="control" data-href="#" {{'niymarkup'|ll|raw}} class="btn btn-default">
					<i class="fa fa-headphones"></i> Deck 2
				</button>
			</div>
			<div class="col-md-12">
		  		<button role="control" data-href="#" {{'niymarkup'|ll|raw}} class="btn btn-default">
					<i class="fa fa-headphones"></i> Deck 3
				</button>
			</div>
	  	</div>
	  	<div class="col-md-3">
	  		<div class="col-md-12">
	  			<h3>Editieren</h3>
	  		</div>
	  		<div class="col-md-12">
	  			<a href="/maintainance/trackdebug/{{ item.id }}" data-ajaxtarget="#main" class="ajax-link"><i class="fa fa-pencil"></i> Track</a>
	  		</div>
	  		<div class="col-md-12">
	  			<a href="/maintainance/albumdebug/{{ item.albumId }}" data-ajaxtarget="#main" class="ajax-link"><i class="fa fa-pencil"></i> Album</a>
	  		</div>
	  		<div class="col-md-12">
	  			<a href="/filebrowser/{{fullpath}}" title="{{fullpath}}/" data-ajaxtarget="#main" class="ajax-link"><i class="fa fa-folder-open"></i> Ordner anzeigen</a>
	  		</div>
	  		<div class="col-md-12">
	  			<a href="#" {{'niymarkup'|ll|raw}} data-container=".modal-body"><i class="fa fa-refresh"></i> neu einlesen</a>
	  		</div>
	  	</div>
	  	
	  </div>
	  
	  
	  
	  <div class="row">
	  	<div class="col-md-3">
	  
	  	</div>
	  	<div class="col-md-3">
	  	
	  	</div>
	  	<div class="col-md-3">
	  		<div class="col-md-12">
	  			<h3>Download</h3>
	  		</div>
	  		<div class="col-md-12">
	  			<a href="/deliver/{{item.relativePath}}" target="_blank" download><i class="fa fa-download"></i> Track</a>
	  		</div>
	  		<div class="col-md-12">
	  			<a href="#" {{'niymarkup'|ll|raw}} data-container=".modal-body"><i class="fa fa-download"></i> Album</a>
	  		</div>
	  	</div>
	  	<div class="col-md-3">
	  		<div class="col-md-12">
	  			<h3>Suchen</h3>
	  		</div>
	  		<div class="col-md-12">
	  			<a href="#" {{'niymarkup'|ll|raw}} data-container=".modal-body"><i class="fa fa-youtube"></i> Youtube</a>
	  		</div>
	  		<div class="col-md-12">
	  			<a href="#" {{'niymarkup'|ll|raw}} data-container=".modal-body">
	  				<img src="/skin/default/img/icon-discogs.png" style="width: 16px; height: 16px;-webkit-filter: grayscale(100%)"/> Discogs
	  			</a>
	  		</div>
	  		<div class="col-md-12">
	  			<a href="#" {{'niymarkup'|ll|raw}} data-container=".modal-body">
	  				<img src="/skin/default/img/icon-rdb.ico" style="width: 16px; height: 16px;-webkit-filter: grayscale(100%)"/> RollDaBeats
	  			</a>
	  		</div>
	  		<div class="col-md-12">
	  			<a href="#" {{'niymarkup'|ll|raw}} data-container=".modal-body">
	  				<img src="/skin/default/img/icon-junodownload.png" style="width: 16px; height: 16px;-webkit-filter: grayscale(100%)"/> Juno
	  			</a>
	  		</div>
	  		<div class="col-md-12">
	  			<a href="#" {{'niymarkup'|ll|raw}} data-container=".modal-body">
	  				<img src="/skin/default/img/icon-beatport.png" style="width: 16px; height: 16px;-webkit-filter: grayscale(100%)"/> Beatport
	  			</a>
	  		</div>
	  	</div>
	  	
	  </div>
	  
  
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>