

<div style="position:absolute; top: 40px; right: 10px; font-size: 2em; z-index: 9999;" title="vorläufige blätterfunktion fürs entwickeln">
	<a href="/library/album/{{ album.id-1 }}">
		<i class="fa fa-chevron-left fa-lg"></i>
	</a>
	<a href="/library/album/{{ random(totalitems-1)+1 }}">
		<i class="fa fa-random fa-lg"></i></a>
	<a href="/library/album/{{ album.id+1 }}">
		<i class="fa fa-chevron-right fa-lg"></i>
	</a>
</div>

<div class="row">
	<div class="col-md-3">
		<a href="#">
			<img id="image_in" src="/image-300/album/{{ album.id }}" alt="" style="top: 0px; width: 100%">
		</a>
		<div id="image_all">
			{% include 'modules/imagecarousel.twig' with { 'itemlist': albumimages } %}
		</div>
	</div>
	<div class="col-md-9">
		<a href="/mpdctrl/addSelect/{{ album.relativePath }}" class="ajax-link" style="font-size: 3em;">
			<i class="fa fa-plus-circle fa-lg"></i></a>
			
		<span style="font-size: 1.7em;">{{album.title}}</span>
		<div id="album-info-artist">
			<span class="dark uc small">{{'artist'|ll}}:</span> {% include 'partials/artist/link.twig' with { 'item': album } %}
		</div>
		<p style="font-size: 0.7em; color: #999;"><a href="/filebrowser/{{album.relativePath}}" style="color: #999;">{{album.relativePath}}</a></p>
			
		<div class="row">
			<div class="col-md-6">
				{% if album.genreId %}
				<div class="col-md12">
					<div class="col-md-2">
						<span class="dark uc small">{{'genre'|ll}}:</span>
					</div>
					<div class="col-md-10">
						{% include 'partials/genrelink.twig' with { 'genreIds': album.genreId } %}
					</div>
				</div>
				{% endif %}
				
				
				{% if album.year %}
				<div class="col-md12">
					<div class="col-md-2">
						<span class="dark uc small">{{'year'|ll}}:</span>
					</div>
					<div class="col-md-10">
						{% include 'partials/yearlink.twig' with { 'item': album }|default('??') %}
					</div>
				</div>
				{% endif %}
				
				{% if album.labelId %}
				<div class="col-md12">
					<div class="col-md-2">
						<span class="dark uc small">{{'label'|ll}}:</span>
					</div>
					<div class="col-md-10">
						{% include 'partials/labellink.twig' with { 'labelIds': album.labelId } %}
					</div>
				</div>
				{% endif %}
				
				{% if album.catalogNr %}
				<div class="col-md12">
					<div class="col-md-2">
						<span class="dark uc small">{{'catnr'|ll}}:</span>
					</div>
					
					<div class="col-md-10">
						{{ album.catalogNr }}
					</div>
				</div>
				{% endif %}
			</div>
					
			<div class="col-md-6">
					
				<div class="col-md12">
					
					<div class="col-md-3">
						<span class="dark uc small">{{'fileformat'|ll}}:</span>
					</div>
					<div class="col-md-9">
						{{itemlist.0.audioBitsPerSample}}bit - {{itemlist.0.audioSampleRate}}kHz
					</div>
				</div>
				<div class="col-md12">
					
					<div class="col-md-3">
						<span class="dark uc small">{{'filetype'|ll}}:</span>
					</div>
					<div class="col-md-9">
						{{itemlist.0.audioDataformat}} - {{itemlist.0.audioProfile}}
					</div>
				</div>
				<div class="col-md12">
					
					<div class="col-md-3">
						<span class="dark uc small">Added at:</span>
					</div>
					<div class="col-md-9">
						{{ album.added|date("m/d/Y") }}
					</div>
				</div>
				<div class="col-md12">
					<div class="col-md-2">
						{% include 'partials/extlink-discogs.twig' %}
						<a href="/maintainance/albumdebug/{{album.id}}" title="edit album"><i class="fa fa-pencil"></i></a>
					</div>
				</div>
			
			</div>
		</div>
		
	</div>
</div>







<div class="row">
	<div class="md-col-12">
		<span class="playlist-title">Albumtracks <span class="pl-track-number">({{ itemlist|length }} Tracks)</span></span>
	</div>
</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-1"></div>
	<div class="col-md-3"><span class="dark uc small">{{'artist'|ll}}</span></div>
	<div class="col-md-3"><span class="dark uc small">{{'title'|ll}}</span></div>
	<div class="col-md-1"><span class="dark uc small">{{'genre'|ll}}</span></div>
	<div class="col-md-1"><span class="dark uc small">{{'year'|ll}}</span></div>
	<div class="col-md-1"><span class="dark uc small">{{'duration'|ll}}</span></div>
	<div class="col-md-1"></div>
</div>
<hr />
{% set totalTime = 0 %}
{% for item in itemlist %}
{% set totalTime = totalTime+item.miliseconds %}
<div class="row {{ cycle(['bg-XXXcol2','bg-XXXcol3'],loop.index) }} mouseover">
	<div class="col-md-1">
		<div style="position: absolute; width: 50px; height: 50px;" class="track-id-{{ item.id }}"> </div>
		<img src="/image-100/track/{{ item.id }}" alt="" style="width: 50px; height: 50px;">	
	</div>
	<div class="col-md-1 ">{{ item.number }}</div>
	<div class="col-md-3 ">
		{% include 'partials/artist/link.twig' %}
	</div>
	<div class="col-md-3 ">
		{% include 'partials/tracktitle.twig' with { 'titlestring': item.title, 'filepath': item.relativePath  } %}
	</div>
	<div class="col-md-1 ">{% include 'partials/genrelink.twig' with { 'genreIds': item.genreId } %}</div>
	<div class="col-md-1 ">{% include 'partials/yearlink.twig' with { 'item': item } %}</div>
	<div class="col-md-1 ">{{ item.miliseconds|formatMiliseconds }}</div>
	<div class="col-md-1" style="font-size: 2em;">
		<a class="ajax-link is-playlink" href="/mpdctrl/addSelect/{{ item.id }}" title="play" data-localplayer='{"action":"play","item":{{ item.id }},"ext":"{{item.audioDataformat }}"}'><i class="fa fa-play-circle-o"></i></a>
		<a class="trigger-modal" href="/markup/widget-trackcontrol?item={{ item.id }}"><i class="fa fa-plus-square"></i></a>
	</div>
</div>
<div class="row">&nbsp;</div>
{% endfor %}
<hr />
<div class="row">
	<div class="col-md-9"></div>
	<div class="col-md-1">total time</div>
	<div class="col-md-1">{{ totalTime|formatMiliseconds }}</div>
	<div class="col-md-1"></div>
</div>



			
